* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}
body {
    background-color: black;
}
p {
    text-transform: none;
}

header {
    position: sticky;
    top: 0px;
    z-index: 10;
}
.navbar {
    width: 100%;
    height: 80px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    background-color : black;
    color: white;
    gap: 25px;
}
.nav-list {
    display: inline-flex;
    align-items: center;
    list-style: none;
}
.nav-list a {
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.nav-list a:hover {
    background-color: gray;
    color: #BFA269;
    border-radius: 15px;
}
input[type=text] {
    width: 50px;
    background-color: gray;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background-image: url('img/searchLogo.png');
    background-position: left;
    background-repeat: no-repeat;
    padding: 10px;
    transition: width 0.4s ease-in-out,
                background-position 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
    background-position: right;
}
input[type=text]:hover {
    width: 100%;
    background-position: right;
}
.navbar button {
    padding: 10px;
    background-color: #5AC1DE;
    color: black;
    border: none;
    border-radius: 15px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background_media {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}
.hero_content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero_content img {
    width: 400px;
    height: auto;
}
.hero_content button {
    padding: 20px 40px;
    font-size: 16px;
    background-color: #BFA269;
    color: black;
    outline: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero_content button:hover,
.season_content button:hover,
.champions-buttons #more-champions:hover {
    background-color: #d6b35c;
}

.season {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.season_content {
    padding-left: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    gap: 30px;
}
.season_content p {
    text-transform: none;
}
.season_content button {
    padding: 20px;
    font-size: 16px;
    background-color: #BFA269;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    overflow: hidden;
}
.news_content {
    top: 0;
    padding: 50px;
}
.news_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news_item {
    height: 500px;
    width: 350px;
}
.news_item img {
    width: 100%;
    height: 50%;
}

.champions {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    text-align: center;
    padding-left: 50px;
}
.champions-container {
    width: 50%;
    top: 0;
    z-index: 1;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.champions-buttons #more-champions {
    padding: 20px;
    font-size: 16px;
    background-color: #BFA269;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
.champions-buttons #play {
    padding: 20px;
    font-size: 16px;
    background-color: #5AC1DE;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
.champions-list {
    list-style: none;
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
.champion-item {
    transition: scale 0.2s ease;
}
.champion-item:hover {
    scale: 1.2;
}
.champion-preview {
    width: 50%;
}
.champion-preview img {
    width: 75%
}